@-webkit-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-o-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-ms-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes focus-in
{
   0% { filter: blur(20px); opacity: 0.0;  }
   100% { opacity: 1.0; filter: blur(0);  }
}
@-moz-keyframes focus-in
{
   0% { filter: blur(20px); opacity: 0.0;  }
   100% { opacity: 1.0; filter: blur(0);  }
}
@-o-keyframes focus-in
{
   0% { filter: blur(20px); opacity: 0.0;  }
   100% { opacity: 1.0; filter: blur(0);  }
}
@-ms-keyframes focus-in
{
   0% { filter: blur(20px); opacity: 0.0;  }
   100% { opacity: 1.0; filter: blur(0);  }
}
@keyframes focus-in
{
   0% { filter: blur(20px); opacity: 0.0;  }
   100% { opacity: 1.0; filter: blur(0);  }
}
@-webkit-keyframes tin-left-in
{
   0% { -webkit-transform: translate(-900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-moz-keyframes tin-left-in
{
   0% { -moz-transform: translate(-900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-o-keyframes tin-left-in
{
   0% { -o-transform: translate(-900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-ms-keyframes tin-left-in
{
   0% { -ms-transform: translate(-900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@keyframes tin-left-in
{
   0% { transform: translate(-900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-webkit-keyframes tin-right-in
{
   0% { -webkit-transform: translate(900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-moz-keyframes tin-right-in
{
   0% { -moz-transform: translate(900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-o-keyframes tin-right-in
{
   0% { -o-transform: translate(900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@-ms-keyframes tin-right-in
{
   0% { -ms-transform: translate(900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
@keyframes tin-right-in
{
   0% { transform: translate(900%,0px) rotate(0deg) ; opacity: 0;  }
   50% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ; opacity: 1;  }
   60% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   70% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ;  }
   90% { transform: translate(0px,0px) rotate(0deg) scale(1.1,1.1) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) scale(1.0,1.0) ; opacity: 1;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
